.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}
.title {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0 20px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.category {
  color: white;
  display: flex;
  font-size: 1.2em;
  border-radius: 32px;
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  max-width: 600px;
  width: 120px;
  height: 120px;
}

.category:hover {
  background-color: rgba(0, 123, 255, 0.8);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
